@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .primary {
        @apply bg-purple-500 text-white;
    }

    .secondary {
        @apply bg-violet-950 text-white;
    }

    .success {
        @apply bg-emerald-500 text-white;
    }

    .info {
        @apply bg-sky-500 text-white;
    }

    .danger {
        @apply bg-red-500 text-white;
    }

    .warning {
        @apply bg-amber-500 text-white;
    }

    button:disabled {
        @apply bg-slate-300;
    }

    select, input[type="text"],input[type="password"], input[type="email"], textarea {
        @apply border-slate-300 focus:outline-none focus:ring-opacity-10;
    }

    .has-primary {
        @apply  focus:ring-purple-200 border border-solid border-purple-200;
    }

    .has-secondary {
        @apply focus:ring-violet-200 border border-solid border-violet-200;
    }

    .has-success {
        @apply focus:ring-emerald-200 border border-solid border-emerald-200;
    }

    .has-info {
        @apply focus:ring-sky-200 border border-solid border-sky-200;
    }

    .has-danger {
        @apply focus:ring-red-200 border border-solid border-red-200;
    }

    .has-warning {
        @apply border-slate-300  focus:ring-amber-200;
    }

    select.has-primary, 
    input[type="text"].has-primary, 
    input[type="email"].has-primary {
        @extend .has-primary;
    }

    input:disabled {
        @apply bg-slate-200 bg-opacity-50;
    }
 

    select.has-secondary, input[type="text"].has-secondary, input[type="email"].has-secondary {
        @extend .has-secondary;
    }

    select.has-success, input[type="text"].has-success, input[type="email"].has-success {
        @extend .has-success;
    }

    select.has-info, input[type="text"].has-info, input[type="email"].has-info {
        @extend .has-info;
    }

    select.has-danger, input[type="text"].has-danger, input[type="email"].has-danger {
        @extend .has-danger;
    }

    select.has-warning, input[type="text"].has-warning, input[type="email"].has-warning {
        @extend .has-warning;
    }

    .text-primary {
        @apply text-purple-300;
    }

    .text-secondary {
        @apply text-violet-300;
    }

    .text-success {
        @apply text-emerald-300;
    }

    .text-info {
        @apply text-sky-300;
    }

    .text-warning {
        @apply text-amber-300;
    }

    .text-danger {
        @apply text-red-300;
    }
    
    .cursor {
        cursor: pointer;
    }

    button {
        @apply flex items-center disabled:hover:bg-opacity-60 disabled:hover:text-slate-400;
    }

    .btn-sm {
        @apply text-xs py-2 px-3 #{!important};
    }

    .bg-qu {
        @apply bg-slate-100/30;
    }

    .bg-layout {
        @apply bg-gradient-to-tl from-purple-800 to-indigo-500 font-bold text-white #{!important};
    }
}
